@model ShoppingClient.ShoppingServiceReference.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width" />
    <title>EditUser</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <a class="navbar-brand" href="@Url.Action("Home", "Shopping")">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="@Url.Action("Products", "Shopping")">Products</a>
                <a class="nav-item nav-link active" href="@Url.Action("Users", "Shopping")">Users</a>
                <a class="nav-item nav-link" href="@Url.Action("UserInfos", "Shopping")">User Info</a>
                <a class="nav-item nav-link" href="@Url.Action("Logout", "Shopping")">Logout</a>
            </div>
        </div>
    </nav>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm("UserEditSubmit", "Shopping", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="container col-4 text-center">
            <h1 class="display-4">Edit User</h1>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @required = "Required", @placeholder = "Password", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.UserInfoId, new { htmlAttributes = new { @required = "Required", @placeholder = "User Info ID", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserInfoId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @required = "Required", @placeholder = "Username", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div>
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    }

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
